<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>dettagli offerta</title>
    <style>
        img {
            width: 150px;
            height: 150px;

        }
        .row {
            display: flex;
            justify-content: center;
        }

        .center {
            text-align: center;
            font-size: 20px;
        }

        .testoconlink  {
            margin-top: 40px;
        }

        .testosenzalink {
            margin-top: 40px;
        }
        .bottoni {
            margin-top: 40px;
        }






    </style>
</head>
<body>
<div style="border: 1px solid; height: 100px; text-align: center">
    <h1>*spazio per l'header*</h1>
</div>
<div style="display: flex">
    <div style="border: 1px solid; width: 100px; height: 500px; float: left">
        *spazio per la barra laterale*
    </div>




    <div style="border: 1px solid; width: 100%;">
        <!-- i seguenti due div servono per allineare i contenuti al centro esclusivamente in orizzontale -->
        <div class="row">
            <div class="center">
               <img src="logosito.png" alt="Descrizione dell'immagine">

               <div class="testoconlink">
                   <a href="linkdaseguire">Nome azienda</a>
               </div>
               <div class="testosenzalink">
                   <strong>Descrizione offerta</strong>
               </div>
               <div class="bottoni">
                   <button name="genera" id="genera">
                       genera
                   </button>
                   <button name="indietro" id="indietro">
                       torna indietro
                   </button>
               </div>
            </div>
        </div>

    </div>







</div>
</body>
</html>
