/* deprecato
.image_logo{
    height: 100%;
    float: left;
    border: 1px solid red;
}

.titolo_azienda{
    text-align: center;
    border: 1px solid blue;
    align-self: start;
    float: left;
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
}

.paragraph{
    border: 1px solid violet;
    align-self: start;
    width: 100%;
    margin-top:0;
    height: 100%;
    margin-bottom: 0;
}
*/
