/*questo file come gli altri andranno alla fine accorpati in un unico file css*/
#contenitore_coupon_generato{
    min-height: 70vh;
    width: 50%;
    border: 1px solid;
    margin: auto;
    padding-left:10px;
    text-align:center;
    display: flex;/*dispone gli elementi*/
    flex-direction: column;/*dispone gli elementi in colonna*/
    justify-content: center;/*posiziona gli elementi al centro*/
}
/* deprecato
#contenuto{
    margin:auto;
}
#contatti{
    grid-row: 2;
    text-align: center;
    align-items: center;
    margin: auto;
}*/
