/* Header e footer */
body {
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #750C8E;
    border: 1px solid;
}

.h-f_color {
    color: #FFCD00;
    --bs-nav-link-color: #FFCD00;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

.auth_message {
    text-align: right;
    min-width: 100%;
}

#inner_header {
    background-color: #A70BCD;
}

.header_btn {
    background-color: #750C8E;
}

.header_btn:hover {
    filter: brightness(0.8);
}

main {
    flex: 1 0 auto;
}

/* Contenitore */
#contenitore {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

/* Home */
.image_carousel{
    height: 200px;
    max-width: 70%;
    object-fit: contain;
}

/* Contatti */
#titolo_contatti {
    font-size: 50px;
}

#contatti {
    font-size: 20px;
}

/* FAQ */
#titolo_faq {
    font-size: 50px;
}

.domanda {
    font-size: 24px;
}

#elenco_risposte {
    list-style-type: none;
    margin-top: 5%;
    text-align: left;
}

/* Catalogo */
.titolo_catalogo {
    font-size: 50px;
}

/* Card */
.custom_card{
    height: 200px;
    max-width: 100%;
    object-fit: contain;
}

/* Form */
.titolo_form {
    font-size: 26px;
}

.form_container {
    border: 4px solid blue;
    width: 500px;
}

.inner_form {
    width: 400px;
}

.form_container_larger {
    border: 4px solid blue;
    width: 600px;
}

.inner_form_larger {
    width: 500px;
}

/* statistiche */
#statistiche {
    font-size: 50px;
}

/* gestione aziende */
.logo_azienda {
    height: 100px;
    max-width: 100px;
    object-fit: contain;
}
